In [30]:
# Import modules

import pandas as pd
import numpy as np
import re
import chardet

In [31]:
# Some constants

us_state_to_code = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'District of Columbia': 'DC',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'United States': 'US'
}

# Reverse dictionary for lookup in the opposite direction
us_code_to_state = {v: k for k, v in us_state_to_code.items()}

In [32]:
# Part-1: Clean US 2024 Presidential Election Results
# Load the Data
with open('Datasets/2024-results-statelevel.csv', 'rb') as f:
    result = chardet.detect(f.read())
    print(result)
df2024_president_state = pd.read_csv('Datasets/2024-results-statelevel.csv', encoding=result['encoding'])
df2024_president_state = df2024_president_state.head(52)
print(df2024_president_state)

# Rename certain attributes
df2024_president_state = df2024_president_state.rename(columns={
    'STATE': 'state_code',
    'ELECTORAL VOTES': 'evs',
    'ELECTORAL VOTE: TRUMP (R)': 'r_evs',
    'ELECTORAL VOTE: HARRIS (D)': 'd_evs',
    'HARRIS': 'total_d_votes',
    'TRUMP': 'total_r_votes',
    'TOTAL VOTES': 'total_votes'
})

# List of columns to clean
columns_to_clean = ['total_d_votes', 'total_r_votes', 'total_votes']

# Remove commas and convert to integers
for col in columns_to_clean:
    df2024_president_state[col] = df2024_president_state[col].str.replace(',', '').astype(int)

# Calculate the Other columns
df2024_president_state['total_others_votes'] = df2024_president_state['total_votes'] - df2024_president_state['total_r_votes'] - df2024_president_state['total_d_votes']
df2024_president_state['others_vote_percentage'] = (df2024_president_state['total_others_votes'] / df2024_president_state['total_votes']) * 100
df2024_president_state['others_vote_percentage'] = df2024_president_state['others_vote_percentage'].round(2)

# Calculate the vote percentages
df2024_president_state['d_vote_percentage'] = (df2024_president_state['total_d_votes'] / df2024_president_state['total_votes']) * 100
df2024_president_state['d_vote_percentage'] = df2024_president_state['d_vote_percentage'].round(2)
df2024_president_state['r_vote_percentage'] = (df2024_president_state['total_r_votes'] / df2024_president_state['total_votes']) * 100
df2024_president_state['r_vote_percentage'] = df2024_president_state['r_vote_percentage'].round(2)

# Add the state name for each state_code
df2024_president_state['state_name'] = df2024_president_state['state_code'].map(us_code_to_state)

# Add other columns
df2024_president_state['year'] = 2024
df2024_president_state['d_candidate'] = "Kamala Harris"
df2024_president_state['r_candidate'] = "Donald Trump"
df2024_president_state['margin'] = df2024_president_state['d_vote_percentage'] - df2024_president_state['r_vote_percentage']

print(df2024_president_state)

# Create the final data frame
attributes = [
    "year",
    "state_name",
    "state_code",
    "d_candidate",
    "total_d_votes",
    "d_vote_percentage",
    "d_evs",
    "r_candidate",
    "total_r_votes",
    "r_vote_percentage",
    "r_evs",
    "total_others_votes",
    "others_vote_percentage",
    "total_votes",
    "margin"
]

df2024_president_state = df2024_president_state[attributes]
print(df2024_president_state)

# Final Touches
df2024_president_state.fillna(0, inplace=True)
df2024_president_state.at[51, "state_name"] = "United States"
df2024_president_state.at[51, "state_code"] = "US"
df2024_president_state["evs"] = df2024_president_state["d_evs"] + df2024_president_state["r_evs"]

# Export the data
df2024_president_state.to_csv('FinalDatasets/2024-president-statelevel-results-final.csv', index=False, encoding='utf-8-sig')

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}
     STATE ELECTORAL VOTES  ELECTORAL VOTE: TRUMP (R)  \
0       AL               9                        9.0
1       AK               3                        3.0
2       AZ              11                       11.0
3       AR               6                        6.0
4       CA              54                        NaN
5       CO              10                        NaN
6       CT               7                        NaN
7       DE               3                        NaN
8       DC               3                        NaN
9       FL              30                       30.0
10      GA              16                       16.0
11      HI               4                        NaN
12      ID               4                        4.0
13      IL              19                        NaN
14      IN              11                       11.0
15      IA               6                        6.0
16      KS               6                        6.0
17      KY               8                        8.0
18      LA               8                        8.0
19      ME               4                        1.0
20      MD              10                        NaN
21      MA              11                        NaN
22      MI              15                       15.0
23      MN              10                        NaN
24      MS               6                        6.0
25      MO              10                       10.0
26      MT               4                        4.0
27      NE               5                        4.0
28      NV               6                        6.0
29      NH               4                        NaN
30      NJ              14                        NaN
31      NM               5                        NaN
32      NY              28                        NaN
33      NC              16                       16.0
34      ND               3                        3.0
35      OH              17                       17.0
36      OK               7                        7.0
37      OR               8                        NaN
38      PA              19                       19.0
39      RI               4                        NaN
40      SC               9                        9.0
41      SD               3                        3.0
42      TN              11                       11.0
43      TX              40                       40.0
44      UT               6                        6.0
45      VT               3                        NaN
46      VA              13                        NaN
47      WA              12                        NaN
48      WV               4                        4.0
49      WI              10                       10.0
50      WY               3                        3.0
51  Total:             538                      312.0

    ELECTORAL VOTE: HARRIS (D) AYYADURAI BOWMAN DE LA CRUZ  DUNCAN EBKE  \
0                          NaN       NaN    NaN        NaN     NaN  NaN
1                          NaN       NaN    NaN        NaN     NaN  NaN
2                          NaN        77    NaN        689     NaN  NaN
3                          NaN       NaN    NaN        NaN     NaN  NaN
4                         54.0       NaN    NaN     72,539     NaN  NaN
5                         10.0        15    NaN        905     NaN  NaN
6                          7.0        21    NaN        264     NaN  NaN
7                          3.0         4    NaN         87     NaN  NaN
8                          3.0       NaN    NaN        NaN     NaN  NaN
9                          NaN       199    NaN     11,969     NaN  NaN
10                         NaN        37     30        NaN     NaN  NaN
11                         4.0       NaN    NaN      1,940     NaN  NaN
12                         NaN       514    NaN      1,230     NaN  NaN
13                        19.0        42    NaN      2,877     NaN  NaN
14                         NaN       NaN    NaN        832     NaN  NaN
15                         NaN       424    NaN      1,427     NaN  NaN
16                         NaN       NaN    NaN        NaN     NaN  NaN
17                         NaN     1,015     10        391     NaN  NaN
18                         NaN       NaN    NaN      1,481     NaN  NaN
19                         3.0       NaN    NaN        NaN     NaN  NaN
20                        10.0        31    NaN      1,136     NaN  NaN
21                        11.0    18,418    NaN     12,889     NaN  NaN
22                         NaN       NaN      4        458     NaN  NaN
23                        10.0     2,885    NaN      2,996     NaN  NaN
24                         NaN       688    NaN      1,075     NaN  NaN
25                         NaN        34    NaN        618     NaN  NaN
26                         NaN        21    NaN        NaN     NaN  NaN
27                         1.0       NaN    NaN        NaN     NaN  NaN
28                         NaN       NaN    NaN        NaN     NaN  NaN
29                         4.0       NaN    NaN        NaN     NaN  NaN
30                        14.0       NaN    NaN      5,105     NaN  NaN
31                         5.0       NaN    NaN      2,442     NaN  859
32                        28.0       134    NaN      6,327     NaN  NaN
33                         NaN        30    NaN        528     NaN  NaN
34                         NaN       NaN    NaN        NaN     NaN  NaN
35                         NaN        74      7      1,794  12,805  NaN
36                         NaN       NaN    NaN        NaN     NaN  NaN
37                         8.0       NaN    NaN        NaN     NaN  NaN
38                         NaN       NaN    NaN        NaN     NaN  NaN
39                         4.0       NaN    NaN      1,176     NaN  NaN
40                         NaN       NaN    NaN      3,059     NaN  NaN
41                         NaN       NaN    NaN        NaN     NaN  NaN
42                         NaN       NaN  5,865      3,457     NaN  NaN
43                         NaN       433    NaN      2,374     NaN  NaN
44                         NaN       NaN     59      3,189     NaN  NaN
45                         3.0         8    NaN      1,710     NaN  NaN
46                        13.0       NaN    NaN      8,408     NaN  NaN
47                        12.0     3,323    NaN      8,695     NaN  NaN
48                         NaN        10    NaN         73     NaN  NaN
49                         NaN       NaN    NaN      2,035     NaN  NaN
50                         NaN       NaN    NaN        NaN     NaN  NaN
51                       226.0    28,437  5,975    166,175  12,805  859

   EVERYLOVE  ... STODDEN SUPREME   TERRY       TRUMP WELLS    WEST   WOOD  \
0        NaN  ...     NaN     NaN     NaN   1,462,616   NaN     NaN    NaN
1        NaN  ...     NaN     NaN     812     184,458   NaN   1,127    NaN
2        NaN  ...     NaN     NaN     NaN   1,770,242   NaN     NaN    NaN
3        NaN  ...     NaN     NaN     NaN     759,241   NaN     NaN  1,144
4        NaN  ...     NaN     NaN     NaN   6,081,697   NaN     NaN    NaN
5        NaN  ...     NaN     NaN   3,522   1,377,441   NaN   5,149    NaN
6        NaN  ...     NaN     NaN     NaN     736,918   NaN     128    NaN
7        NaN  ...     NaN     914     NaN     214,351   NaN      96    NaN
8        NaN  ...     NaN     NaN     NaN      21,076   NaN     NaN    NaN
9        NaN  ...     NaN     NaN   5,834   6,110,125   NaN     NaN    NaN
10       NaN  ...     NaN     NaN     NaN   2,663,117   NaN     NaN    NaN
11       NaN  ...     NaN     NaN     NaN     193,661   NaN     NaN    NaN
12       NaN  ...     NaN     NaN   1,026     605,246   NaN     NaN    NaN
13       NaN  ...     NaN     NaN     NaN   2,449,079   NaN   1,569    NaN
14       NaN  ...     NaN     NaN     NaN   1,720,347   NaN     722    NaN
15       NaN  ...     361     NaN     NaN     927,019   NaN     NaN    NaN
16       NaN  ...     NaN     NaN     NaN     758,802   NaN     NaN    NaN
17       NaN  ...     NaN     NaN     NaN   1,337,494   NaN     177    NaN
18       NaN  ...     NaN     NaN   1,424   1,208,505   NaN   2,623    NaN
19       NaN  ...     NaN     NaN     NaN     377,977   NaN   2,912    NaN
20       NaN  ...       3     NaN     NaN   1,035,550   NaN     918    NaN
21       NaN  ...     NaN     NaN     NaN   1,251,303   NaN     243    NaN
22       NaN  ...     NaN     NaN   6,509   2,816,636   NaN   6,664    NaN
23       NaN  ...     NaN     NaN     NaN   1,519,032   NaN   3,136    NaN
24       NaN  ...     NaN     NaN   1,030     747,744   NaN     NaN    NaN
25       NaN  ...     NaN     NaN     NaN   1,751,986   NaN     NaN    NaN
26       NaN  ...     NaN     NaN     NaN     352,079   NaN     NaN    NaN
27       NaN  ...     NaN     NaN     NaN     564,816   NaN   3,062    NaN
28       NaN  ...     NaN     NaN     NaN     751,205   NaN     NaN    NaN
29       NaN  ...     NaN     NaN     NaN     395,523   NaN     NaN    NaN
30       NaN  ...     NaN     NaN   3,024   1,968,215   NaN     NaN    NaN
31       NaN  ...     NaN     NaN     NaN     423,391   NaN     NaN    NaN
32       NaN  ...     NaN     NaN     NaN   3,578,899   NaN   4,152    NaN
33       NaN  ...     NaN     NaN   6,863   2,898,423   NaN  12,099    NaN
34       NaN  ...     NaN     NaN     NaN     246,505   NaN     NaN    NaN
35       NaN  ...     NaN     NaN     NaN   3,180,116   NaN     852    NaN
36       NaN  ...     NaN     NaN     NaN   1,036,213   NaN     NaN    NaN
37       NaN  ...     NaN     NaN   1,850     919,480   NaN   5,644    NaN
38       NaN  ...     NaN     NaN     NaN   3,543,308   NaN     NaN    NaN
39       NaN  ...     NaN     NaN     NaN     214,406   359     NaN    NaN
40       NaN  ...     NaN     NaN   5,352   1,483,747   NaN   6,744    NaN
41       NaN  ...     NaN     NaN     NaN     272,081   NaN     NaN    NaN
42       NaN  ...     NaN     NaN     NaN   1,966,865   NaN     NaN    NaN
43       NaN  ...     NaN     NaN     NaN   6,393,597   NaN   1,858    NaN
44     2,653  ...     NaN     NaN     NaN     883,818   NaN   2,199    NaN
45       NaN  ...     NaN       7       4     119,395   NaN   1,549    NaN
46       NaN  ...     NaN     NaN     NaN   2,074,097   NaN   8,975    NaN
47       NaN  ...     NaN     NaN     NaN   1,530,923   NaN   7,254    NaN
48       NaN  ...     NaN     NaN     NaN     533,556   NaN      39    NaN
49       NaN  ...     NaN     NaN   4,044   1,697,626   NaN   2,753    NaN
50       NaN  ...     NaN     NaN     NaN     192,633   NaN     NaN    NaN
51     2,653  ...     364     921  41,294  77,302,580   359  82,644  1,144

   NONE OF THESE CANDIDATES WRITE-INS (SCATTERED)  TOTAL VOTES
0                       NaN                 8,738    2,265,090
1                       NaN                   NaN      338,177
2                       NaN                    23    3,390,161
3                       NaN                   NaN    1,182,676
4                       NaN                   NaN   15,865,475
5                       NaN                    12    3,192,745
6                       NaN                     6    1,759,010
7                       NaN                    16      512,912
8                       NaN                 7,830      325,869
9                       NaN                     6   10,893,752
10                      NaN                    61    5,250,905
11                      NaN                   NaN      516,701
12                      NaN                     3      905,057
13                      NaN                   518    5,633,310
14                      NaN                    76    2,936,677
15                      NaN                 6,657    1,663,506
16                      NaN                   NaN    1,327,591
17                      NaN                    24    2,074,530
18                      NaN                   NaN    2,006,975
19                      NaN                   581      831,375
20                      NaN                19,572    3,038,334
21                      NaN                19,737    3,473,668
22                      NaN                     8    5,664,186
23                      NaN                12,118    3,253,920
24                      NaN                   NaN    1,228,008
25                      NaN                    10    2,995,327
26                      NaN                     6      602,990
27                      NaN                 5,023      952,182
28                   19,625                   NaN    1,484,840
29                      NaN                 4,073      826,189
30                      NaN                   NaN    4,272,725
31                      NaN                   NaN      923,403
32                      NaN                   100    8,262,495
33                      NaN                18,936    5,699,141
34                      NaN                 3,096      368,155
35                      NaN                    31    5,767,788
36                      NaN                   NaN    1,566,173
37                      NaN                15,026    2,244,493
38                      NaN                24,526    7,058,732
39                      NaN                 2,727      513,386
40                      NaN                   NaN    2,548,140
41                      NaN                   NaN      428,922
42                      NaN                   NaN    3,063,942
43                      NaN                   124   11,388,674
44                      NaN                    43    1,488,494
45                      NaN                 2,072      369,422
46                      NaN                23,348    4,503,288
47                      NaN                25,408    3,924,243
48                      NaN                     7      762,582
49                      NaN                 7,144    3,422,918
50                      NaN                 2,695      269,048
51                   19,625               210,381  155,238,302

[52 rows x 31 columns]
   state_code  evs  r_evs  d_evs AYYADURAI BOWMAN DE LA CRUZ  DUNCAN EBKE  \
0          AL    9    9.0    NaN       NaN    NaN        NaN     NaN  NaN
1          AK    3    3.0    NaN       NaN    NaN        NaN     NaN  NaN
2          AZ   11   11.0    NaN        77    NaN        689     NaN  NaN
3          AR    6    6.0    NaN       NaN    NaN        NaN     NaN  NaN
4          CA   54    NaN   54.0       NaN    NaN     72,539     NaN  NaN
5          CO   10    NaN   10.0        15    NaN        905     NaN  NaN
6          CT    7    NaN    7.0        21    NaN        264     NaN  NaN
7          DE    3    NaN    3.0         4    NaN         87     NaN  NaN
8          DC    3    NaN    3.0       NaN    NaN        NaN     NaN  NaN
9          FL   30   30.0    NaN       199    NaN     11,969     NaN  NaN
10         GA   16   16.0    NaN        37     30        NaN     NaN  NaN
11         HI    4    NaN    4.0       NaN    NaN      1,940     NaN  NaN
12         ID    4    4.0    NaN       514    NaN      1,230     NaN  NaN
13         IL   19    NaN   19.0        42    NaN      2,877     NaN  NaN
14         IN   11   11.0    NaN       NaN    NaN        832     NaN  NaN
15         IA    6    6.0    NaN       424    NaN      1,427     NaN  NaN
16         KS    6    6.0    NaN       NaN    NaN        NaN     NaN  NaN
17         KY    8    8.0    NaN     1,015     10        391     NaN  NaN
18         LA    8    8.0    NaN       NaN    NaN      1,481     NaN  NaN
19         ME    4    1.0    3.0       NaN    NaN        NaN     NaN  NaN
20         MD   10    NaN   10.0        31    NaN      1,136     NaN  NaN
21         MA   11    NaN   11.0    18,418    NaN     12,889     NaN  NaN
22         MI   15   15.0    NaN       NaN      4        458     NaN  NaN
23         MN   10    NaN   10.0     2,885    NaN      2,996     NaN  NaN
24         MS    6    6.0    NaN       688    NaN      1,075     NaN  NaN
25         MO   10   10.0    NaN        34    NaN        618     NaN  NaN
26         MT    4    4.0    NaN        21    NaN        NaN     NaN  NaN
27         NE    5    4.0    1.0       NaN    NaN        NaN     NaN  NaN
28         NV    6    6.0    NaN       NaN    NaN        NaN     NaN  NaN
29         NH    4    NaN    4.0       NaN    NaN        NaN     NaN  NaN
30         NJ   14    NaN   14.0       NaN    NaN      5,105     NaN  NaN
31         NM    5    NaN    5.0       NaN    NaN      2,442     NaN  859
32         NY   28    NaN   28.0       134    NaN      6,327     NaN  NaN
33         NC   16   16.0    NaN        30    NaN        528     NaN  NaN
34         ND    3    3.0    NaN       NaN    NaN        NaN     NaN  NaN
35         OH   17   17.0    NaN        74      7      1,794  12,805  NaN
36         OK    7    7.0    NaN       NaN    NaN        NaN     NaN  NaN
37         OR    8    NaN    8.0       NaN    NaN        NaN     NaN  NaN
38         PA   19   19.0    NaN       NaN    NaN        NaN     NaN  NaN
39         RI    4    NaN    4.0       NaN    NaN      1,176     NaN  NaN
40         SC    9    9.0    NaN       NaN    NaN      3,059     NaN  NaN
41         SD    3    3.0    NaN       NaN    NaN        NaN     NaN  NaN
42         TN   11   11.0    NaN       NaN  5,865      3,457     NaN  NaN
43         TX   40   40.0    NaN       433    NaN      2,374     NaN  NaN
44         UT    6    6.0    NaN       NaN     59      3,189     NaN  NaN
45         VT    3    NaN    3.0         8    NaN      1,710     NaN  NaN
46         VA   13    NaN   13.0       NaN    NaN      8,408     NaN  NaN
47         WA   12    NaN   12.0     3,323    NaN      8,695     NaN  NaN
48         WV    4    4.0    NaN        10    NaN         73     NaN  NaN
49         WI   10   10.0    NaN       NaN    NaN      2,035     NaN  NaN
50         WY    3    3.0    NaN       NaN    NaN        NaN     NaN  NaN
51     Total:  538  312.0  226.0    28,437  5,975    166,175  12,805  859

   EVERYLOVE  ... total_votes total_others_votes  others_vote_percentage  \
0        NaN  ...     2265090              30062                    1.33
1        NaN  ...      338177              13693                    4.05
2        NaN  ...     3390161              37059                    1.09
3        NaN  ...     1182676              26530                    2.24
4        NaN  ...    15865475             507599                    3.20
5        NaN  ...     3192745              87145                    2.73
6        NaN  ...     1759010              30039                    1.71
7        NaN  ...      512912               8803                    1.72
8        NaN  ...      325869              10608                    3.26
9        NaN  ...    10893752             100589                    0.92
10       NaN  ...     5250905              39771                    0.76
11       NaN  ...      516701               9996                    1.93
12       NaN  ...      905057              24839                    2.74
13       NaN  ...     5633310             121368                    2.15
14       NaN  ...     2936677              52727                    1.80
15       NaN  ...     1663506              29209                    1.76
16       NaN  ...     1327591              23936                    1.80
17       NaN  ...     2074530              32993                    1.59
18       NaN  ...     2006975              31600                    1.57
19       NaN  ...      831375              17746                    2.13
20       NaN  ...     3038334             100207                    3.30
21       NaN  ...     3473668              95847                    2.76
22       NaN  ...     5664186             111017                    1.96
23       NaN  ...     3253920              77909                    2.39
24       NaN  ...     1228008              13596                    1.11
25       NaN  ...     2995327              42742                    1.43

In [33]:
# Part-2: Clean US 2024 Senate Election Results
# Step 1: Load and filter
df2024_senate_state = pd.read_csv('Datasets/2024-senate-results.csv', encoding=result['encoding'])
df2024_senate_state = df2024_senate_state[
    (df2024_senate_state['cycle'] == 2024) & 
    (df2024_senate_state['percent'] >= 5)
][['state', 'state_abbrev', 'office_seat_name', 'special', 'candidate_name', 'ballot_party', 'votes', 'percent']]

# Step 2: Remove CA special
df2024_senate_state = df2024_senate_state[
    ~((df2024_senate_state['state_abbrev'] == 'CA') & (df2024_senate_state['special'] == 'TRUE'))
]

# Step 3: Fix Dan Osborn Party
df2024_senate_state.loc[df2024_senate_state['candidate_name'] == 'Dan Osborn', 'ballot_party'] = 'IND'

# Step 4: Sort by race and votes descending
group_cols = ['state', 'state_abbrev', 'office_seat_name', 'special']
df2024_senate_state = df2024_senate_state.sort_values(group_cols + ['votes'], ascending=[True, True, True, True, False])

# Step 5: Assign rank and mark 'Others'
df2024_senate_state['cand_num'] = df2024_senate_state.groupby(group_cols).cumcount() + 1
df2024_senate_state['is_other'] = df2024_senate_state['cand_num'] > 2

# Step 6: Assign top 2 candidates per race
df2024_senate_state['cand_num'] = df2024_senate_state.groupby(group_cols)['votes'].rank(method='first', ascending=False)
top2 = df2024_senate_state[df2024_senate_state['cand_num'] <= 2].copy()

# Step 7: Pivot top 2 to columns
pivoted = top2.pivot_table(
    index=group_cols,
    columns='cand_num',
    values=['candidate_name', 'ballot_party', 'votes', 'percent'],
    aggfunc='first'
)

# Step 8: Flatten columns
pivoted.columns = [f'{col[0]}_{int(col[1])}' for col in pivoted.columns]
pivoted = pivoted.reset_index()

print(pivoted['votes_1'])
print(pivoted['votes_2'])

# Step 9: Calculate "Others"
pivoted['others_percent'] = 100 - (pivoted['percent_1'] + pivoted['percent_2'])

# pivoted['others_votes'] = pivoted[['votes_1', 'votes_2']].sum(axis=1)
# pivoted['others_votes'] = pivoted['votes_1'] + pivoted['votes_2']
pivoted['others_votes'] = (pivoted['others_percent']/pivoted['percent_1'])*pivoted['votes_1']
pivoted['total_votes'] = pivoted['others_votes'] + pivoted['votes_1'] + pivoted['votes_2']

# pivoted['total_votes'] = pivoted['others_votes'] + df2024_senate_state.groupby(group_cols)['votes'].sum().reset_index(drop=True) - pivoted['others_votes']
# pivoted['others_votes'] = pivoted['total_votes'] - pivoted['votes_1'] - pivoted['votes_2']

# Optional: clean up
pivoted = pivoted.sort_values(by='state')
pivoted.fillna(0, inplace=True)

# TODO: Add a row that aggregates count for all rows to get total senate votes in the U.S. by adding the total votes of all rows
col_sums = pivoted[['votes_1', 'votes_2', 'others_votes', 'total_votes']].sum()
summary_row = pd.DataFrame([{
    'state':            'United States',
    'state_abbrev':     'US',
    'office_seat_name': '',
    'special':          False,
    'candidate_name_1': '',
    'ballot_party_1':   '',
    'votes_1':          col_sums['votes_1'],
    'percent_1':        0,
    'candidate_name_2': '',
    'ballot_party_2':   '',
    'votes_2':          col_sums['votes_2'],
    'percent_2':        0,
    'others_percent':   0,
    'others_votes':     col_sums['others_votes'],
    'total_votes':      col_sums['total_votes'],
}], columns=pivoted.columns)
pivoted = pd.concat([pivoted, summary_row], ignore_index=True)

# Load the turnout data at the state level Data
df2024_turnout_president = pd.read_csv('Datasets/2024-turnout-president.csv', encoding=result['encoding'])
df2024_turnout_president = df2024_turnout_president.rename(columns={'STATE': 'state_name', 'STATE_ABV': 'state_code'})

# Remove commas and convert to integers
df2024_turnout_president['VEP'] = df2024_turnout_president['VEP'].str.replace(',', '').astype(int)
turnout_subset = df2024_turnout_president[['state_code', 'VEP']]

pivoted = pivoted.rename(columns={'state': 'state_name', 'state_abbrev': 'state_code'})

# left-merge into pivoted
pivoted = pivoted.merge(
    turnout_subset,
    on='state_code',
    how='left'
)

pivoted['senate_turnout'] = ((pivoted['total_votes'] / pivoted['VEP'])*100).round(2)
pivoted['margin'] = pivoted['percent_1'] - pivoted['percent_2']

# Save
pivoted.to_csv('FinalDatasets/2024-senate-results-final.csv', index=False, encoding='utf-8-sig')

0     1676335.0
1     9036252.0
2     8837051.0
3      953646.0
4      283298.0
5     5977706.0
6      324194.0
7     1659416.0
8      427331.0
9     1650912.0
10    2041693.0
11    2712686.0
12    1792441.0
13     763420.0
14    1651907.0
15     319682.0
16     499124.0
17     585103.0
18     701105.0
19    2161491.0
20     497333.0
21    4318903.0
22     241569.0
23    2857383.0
24    3399295.0
25     294665.0
26    1918743.0
27    5990741.0
28     914700.0
29     229429.0
30    2415429.0
31    2252577.0
32     514079.0
33    1672777.0
34     198418.0
Name: votes_1, dtype: float64
0     1595761.0
1     6312594.0
2     6204637.0
3      678256.0
4      197753.0
5     4603077.0
6      160075.0
7     1097061.0
8      284338.0
9     1294344.0
10    1365445.0
11    2693680.0
12    1291712.0
13     451981.0
14    1243728.0
15     276305.0
16     436493.0
17     349902.0
18     677046.0
19    1773589.0
20     405978.0
21    2917044.0
22     121602.0
23    2650949.0
24    3384180.0
25     196039.0
26    1027461.0
27    5031249.0
28     464515.0
29     116512.0
30    2018992.0
31    1549187.0
32     207548.0
33    1643996.0
34      63727.0
Name: votes_2, dtype: float64

In [34]:
# Part-3: Clean US 2024 House  Election Results
df2024_house_results = pd.read_csv('Datasets/ushouse2024-results.csv', encoding=result['encoding'])

# — Only fill the string-y columns with 'NA'
string_cols = ['Candidate 2','Party 2','Winner 2','Incumbent 2']
df2024_house_results[string_cols] = df2024_house_results[string_cols].fillna('NA')

for c in ['Votes 1','Votes 2','Percent 2']:
    df2024_house_results[c] = (
        pd.to_numeric(df2024_house_results[c], errors='coerce')  # force into numbers, NaN if bogus
          .fillna(0)                          # turn missing → 0
          .astype(float)                        # finally, ints
    )

df2024_house_results['total_votes'] = df2024_house_results["Votes 1"] + np.where(df2024_house_results["Votes 2"] != "NA", df2024_house_results["Votes 2"].astype(int), 0)
df2024_house_results.columns = df2024_house_results.columns.str.lower().str.replace(' ', '_')
df2024_house_results['margin'] = df2024_house_results['percent_1'] - df2024_house_results['percent_2']
df2024_house_results.to_csv('FinalDatasets/2024-house-results-final.csv', index=False, encoding='utf-8-sig')

In [35]:
# Part-4: Clean US 2024 Presidential Election Results at the County level
# Load the Data
df2024_president_county = pd.read_csv('Datasets/2024-results-countylevel.csv', encoding=result['encoding'])

columns_to_scale = ['per_gop', 'per_dem', 'per_point_diff']
df2024_president_county[columns_to_scale] = df2024_president_county[columns_to_scale].apply(lambda x: (x * 100).round(2))
df2024_president_county["state_code"] = df2024_president_county["state_name"].map(us_state_to_code)

df2024_president_county.to_csv('FinalDatasets/2024-president-countylevel-results-final.csv', index=False, encoding='utf-8-sig')

In [36]:
# Part-6: Turnout data of congressional districts
# Load the Data
df2024_cd_turnout = pd.read_csv('Datasets/cd-population.csv', encoding=result['encoding'])

# Extract relevant columns
df2024_cd_turnout = df2024_cd_turnout[["geoname", "lntitle", "tot_est", "adu_est", "cit_est", "cvap_est"]].copy()
df2024_cd_turnout = df2024_cd_turnout[~df2024_cd_turnout["geoname"].str.contains("Delegate District", case=False, na=False)]
df2024_cd_turnout = df2024_cd_turnout[~df2024_cd_turnout["geoname"].str.contains("Resident Commissioner", case=False, na=False)]
df2024_cd_turnout = df2024_cd_turnout[~df2024_cd_turnout["geoname"].str.contains("not defined", case=False, na=False)]

# Function to handle both standard and at-large districts
def convert_geoname_to_code(geoname):
    # If it's an at Large district
    if "at Large" in geoname:
        state = geoname.split(",")[-1].strip()
        state_abbr = us_state_to_code.get(state, "NA")
        return f"{state_abbr} 01"
    
    # Otherwise handle regular district
    match = re.match(r"Congressional District (\d+).*?,\s*(.+)", geoname)
    if match:
        district, state = match.groups()
        state_abbr = us_state_to_code.get(state.strip(), "NA")
        return f"{state_abbr} {district.zfill(2)}"
    
    return geoname  # fallback

df2024_cd_turnout["geoname"] = df2024_cd_turnout["geoname"].apply(convert_geoname_to_code)
df2024_cd_turnout.fillna(0)
df2024_cd_turnout.rename(columns={'geoname': 'district'}, inplace=True)
df2024_cd_turnout = df2024_cd_turnout[df2024_cd_turnout['lntitle'] == 'Total']

total_house_votes = df2024_house_results[["district", "total_votes"]]
# Add total vote details to the df
df2024_cd_turnout = df2024_cd_turnout.merge(
    total_house_votes,
    on="district",
    how="left"  # Use 'left' to preserve all rows from turnout dataset
)

# Replace any missing Total Votes with 0, just in case
df2024_cd_turnout["total_votes"].fillna(0)

# Calculate vap_turnout_rate
df2024_cd_turnout["vap_turnout_rate"] = (
    (df2024_cd_turnout["total_votes"] / df2024_cd_turnout["cvap_est"]) * 100
)

df2024_cd_turnout = df2024_cd_turnout[['district', 'total_votes', 'cvap_est', 'vap_turnout_rate']]
df2024_cd_turnout.to_csv('FinalDatasets/2024-house-turnout-final.csv', index=False, encoding='utf-8-sig')

In [37]:
# Part-7: Turnout data of states
merged_turnout = pd.merge(
    df2024_turnout_president,
    pivoted,
    on=['state_name', 'state_code'],
    how='outer',        # keep everything so we can spot non-matches
    indicator=True      # adds a "_merge" column
)

df2024_turnout_president = df2024_turnout_president[['state_name', 'state_code', 'TOTAL_BALLOTS_COUNTED', 'VAP', 'VEP', 'VEP_TURNOUT_RATE', 'VAP_TURNOUT_RATE']]
df2024_turnout_president.columns = df2024_turnout_president.columns.str.lower().str.replace(' ', '_')
df2024_turnout_president.to_csv('FinalDatasets/2024-president-turnout-final.csv', index=False, encoding='utf-8-sig')

In [38]:
# Part-8: Extract Race, Age, and Sex details from a county
# Load the Data
# df1 = pd.read_csv('Datasets/2020-2023-RaceAgeSex-AllCounties.csv', encoding=result['encoding'])
df2 = pd.read_csv('Datasets/cc-est2023-agesex-all.csv', encoding=result['encoding'])

# Only consider the latest details
df2 = df2[df2["YEAR"] == 5]

# Initialize County Details dataframe
df_county_details = pd.DataFrame()
df2["state_code"] = df2["STNAME"].map(us_state_to_code)
df_county_details['state_name'] = df2['STNAME']
df_county_details['state_code'] = df2['state_code']
df_county_details['county_name'] = df2['CTYNAME']
df_county_details['population'] = df2['POPESTIMATE']

# Step-1: Calculate turnout in each county
county_president_votes = df2024_president_county[['state_code', 'county_name', 'total_votes']]
merged = pd.merge(
    df_county_details,
    county_president_votes,
    on=['state_code', 'county_name'],
    how='outer',        # keep everything so we can spot non-matches
    indicator=True      # adds a "_merge" column
)
# merged.to_csv('FinalDatasets/interim/mismatches1.csv', index=False, encoding='utf-8-sig')
merged['turnout'] = merged['total_votes'] / merged['population']
df_county_details = merged.loc[merged['_merge'] == 'both', 
                ['state_name', 'state_code', 'county_name', 'population', 'total_votes', 'turnout']].reset_index(drop=True)
print(df_county_details.columns)

df_county_details.to_csv('FinalDatasets/interim/county-details-final-v1.csv', index=False, encoding='utf-8-sig')

# Step-2: Add education attainment details for each county
df_county_education = pd.read_csv('Datasets/counties-education.csv', encoding=result['encoding'])
df_county_education.drop(index=df_county_education.index[0], axis=0, inplace=True)
df_county_education = df_county_education[['NAME','college_educated']]
df_county_education.rename(columns={'Total-CollegeEducated': 'college_educated'}, inplace=True) 
df_county_education['state_name'] = df_county_education['NAME'].str.split(', ').str[1]
df_county_education["state_code"] = df_county_education["state_name"].map(us_state_to_code)
df_county_education["county_name"] = df_county_education['NAME'].str.split(', ').str[0]
df_county_education = df_county_education[['state_name', 'state_code', 'county_name', 'college_educated']]

merged = pd.merge(
    df_county_details,
    df_county_education,
    on=['state_name', 'state_code', 'county_name'],
    how='outer',        # keep everything so we can spot non-matches
    indicator=True      # adds a "_merge" column
)
merged.to_csv('FinalDatasets/interim/mismatches2.csv', index=False, encoding='utf-8-sig')
df_county_details = merged.loc[merged['_merge'] == 'both', 
                ['state_name', 'state_code', 'county_name', 'population', 'total_votes', 'turnout', 'college_educated']].reset_index(drop=True)
# mismatches = merged.loc[merged['_merge'] != 'both', ['state_code', 'county_name', '_merge']].reset_index(drop=True)
# df_county_details.to_csv('FinalDatasets/interim/county-details-final-v2.csv', index=False, encoding='utf-8-sig')
# print(df_county_details.columns)

# Step-3: Add income details for each county
df_county_income = pd.read_csv('Datasets/counties-income.csv', encoding=result['encoding'])
df_county_income.drop(index=df_county_income.index[0], axis=0, inplace=True)
df_county_income = df_county_income[['NAME','households_total', 'households_mean_income', 'households_median_income', 'families_total', 'families_mean_income', 'families_median_income']]
df_county_income['state_name'] = df_county_income['NAME'].str.split(', ').str[1]
df_county_income["state_code"] = df_county_income["state_name"].map(us_state_to_code)
df_county_income["county_name"] = df_county_income['NAME'].str.split(', ').str[0]
df_county_income = df_county_income[['state_name', 'state_code', 'county_name', 'households_total', 'households_mean_income', 'households_median_income', 'families_total', 'families_mean_income', 'families_median_income']]

merged = pd.merge(
    df_county_details,
    df_county_income,
    on=['state_name', 'state_code', 'county_name'],
    how='outer',        # keep everything so we can spot non-matches
    indicator=True      # adds a "_merge" column
)
# merged.to_csv('FinalDatasets/interim/mismatches3.csv', index=False, encoding='utf-8-sig')
df_county_details = merged.loc[merged['_merge'] == 'both', 
                ['state_name', 'state_code', 'county_name', 'population', 'total_votes', 'turnout', 'college_educated', 'households_total', 'households_mean_income', 'households_median_income', 'families_total', 'families_mean_income', 'families_median_income']].reset_index(drop=True)
# mismatches = merged.loc[merged['_merge'] != 'both', ['state_code', 'county_name', '_merge']].reset_index(drop=True)
# df_county_details.to_csv('FinalDatasets/interim/county-details-final-v3.csv', index=False, encoding='utf-8-sig')

# Step-4: Add poverty details
df_county_poverty = pd.read_csv('Datasets/counties-poverty.csv', encoding=result['encoding'])
df_county_poverty.drop(index=df_county_poverty.index[0], axis=0, inplace=True)
df_county_poverty = df_county_poverty[['NAME', 'poverty_total', 'poverty_percent']]
df_county_poverty['state_name'] = df_county_poverty['NAME'].str.split(', ').str[1]
df_county_poverty["state_code"] = df_county_poverty["state_name"].map(us_state_to_code)
df_county_poverty["county_name"] = df_county_poverty['NAME'].str.split(', ').str[0]
df_county_poverty = df_county_poverty[['state_name', 'state_code', 'county_name', 'poverty_total', 'poverty_percent']]

merged = pd.merge(
    df_county_details,
    df_county_poverty,
    on=['state_name', 'state_code', 'county_name'],
    how='outer',        # keep everything so we can spot non-matches
    indicator=True      # adds a "_merge" column
)
merged.to_csv('FinalDatasets/interim/mismatches4.csv', index=False, encoding='utf-8-sig')
df_county_details = merged.loc[merged['_merge'] == 'both', 
                ['state_name', 'state_code', 'county_name', 'population', 'total_votes', 'turnout', 'college_educated', 'households_total', 'households_mean_income', 'households_median_income', 'families_total', 'families_mean_income', 'families_median_income', 'poverty_total', 'poverty_percent']].reset_index(drop=True)

merged = pd.merge(
    df_county_details,
    df2024_president_county[['state_name', 'state_code', 'county_name', 'per_point_diff']],
    on=['state_name', 'state_code', 'county_name'],
    how='outer',        # keep everything so we can spot non-matches
    indicator=True      # adds a "_merge" column
)
merged.to_csv('FinalDatasets/interim/mismatches5.csv', index=False, encoding='utf-8-sig')
df_county_details = merged.loc[merged['_merge'] == 'both', 
                ['state_name', 'state_code', 'county_name', 'population', 'total_votes', 'turnout', 'college_educated', 'households_total', 'households_mean_income', 'households_median_income', 'families_total', 'families_mean_income', 'families_median_income', 'poverty_total', 'poverty_percent', 'per_point_diff']].reset_index(drop=True)

numeric_cols = [
    "population", "total_votes", "turnout", "college_educated",
    "households_total", "households_mean_income", "households_median_income",
    "families_total", "families_mean_income", "families_median_income",
    "poverty_total", "poverty_percent"
]

for col in numeric_cols:
    # coerce the column to numeric, bad parses become NaN
    coerced = pd.to_numeric(df_county_details[col], errors="coerce")
    # find the rows where the original was non-null but coercion gave NaN
    bad_idx = df_county_details.index[
        coerced.isna() & df_county_details[col].notna()
    ].tolist()
    if bad_idx:
        print(f"\nColumn `{col}` has {len(bad_idx)} invalid entries at rows: {bad_idx}")
        print("   Example values:", df_county_details.loc[bad_idx, col].unique())
df_county_details[numeric_cols] = df_county_details[numeric_cols].astype(float)

df_county_details['poverty_percent'] = (df_county_details['poverty_total']/df_county_details['population']) * 100

# Add percentage of college educated people
df_county_details['college_educated_percent'] = (df_county_details['college_educated']/df_county_details['population']) * 100

df_county_details.to_csv('FinalDatasets/2024-county-details-final.csv', index=False, encoding='utf-8-sig')

Index(['state_name', 'state_code', 'county_name', 'population', 'total_votes',
       'turnout'],
      dtype='object')

In [39]:
# Part-9: Extract presidential results by congressional district
df2024_president_cd_results = pd.read_csv('Datasets/2024-results-cdlevel.csv', encoding=result['encoding'])

cols = ['district', 'd_total', 'r_total', 'other_total', 'total_votes', 'd_percent', 'r_percent', 'other_percent','margin']
df2024_president_cd_results = df2024_president_cd_results[cols].copy()
# numeric_cols = ['d_total', 'r_total', 'other_total', 'total_votes', 'd_percent', 'r_percent', 'other_percent','margin']
# df2024_president_cd_results[numeric_cols] = df2024_president_cd_results[numeric_cols].apply(pd.to_numeric, errors='coerce')

for c in df2024_president_cd_results.columns.drop('district'):
    df2024_president_cd_results[c] = df2024_president_cd_results[c].astype(str).str.replace(r'[%,]', '', regex=True)
    df2024_president_cd_results[c] = df2024_president_cd_results[c].astype(float)

df2024_president_cd_results['district'] = (
    df2024_president_cd_results['district']
      .str.replace('-', ' ', regex=False)
      .str.replace(r'\b AL\b', ' 01', regex=True)
)

df2024_president_cd_results.to_csv('FinalDatasets/2024-president-cdlevel-results-final.csv', index=False, encoding='utf-8-sig')

In [ ]:
# Part-10: Clean state level details
df_state_details = pd.read_csv('Datasets/2024-state-details.csv', encoding=result['encoding'])
df_state_details["state_code"] = df_state_details["state_name"].map(us_state_to_code)

# Step 1: Remove ',', '$', and '%' from all string values
df_state_details = df_state_details.replace({',': '', '\$': '', '%': ''}, regex=True)

# Step 2: Convert all columns except 'state_name', 'state_code', 'fips_code' to float
cols_to_convert = df_state_details.columns.difference(['state_name', 'state_code', 'fips_code'])
df_state_details[cols_to_convert] = df_state_details[cols_to_convert].astype(float).round(2)

df_state_details.to_csv('FinalDatasets/2024-state-details-final.csv', index=False, encoding='utf-8-sig')

<>:6: SyntaxWarning: invalid escape sequence '\$'
<>:6: SyntaxWarning: invalid escape sequence '\$'
C:\Users\prana\AppData\Local\Temp\ipykernel_14316\3507273153.py:6: SyntaxWarning: invalid escape sequence '\$'
  df_state_details = df_state_details.replace({',': '', '\$': '', '%': ''}, regex=True)